
body,
html {
    height: 100%;
    user-select: none;
}

body {
    background: url("../img/white-brush.jpg") center center fixed;
    background-size: cover;
}

hr {
    border-color: white;
}

a {
    text-decoration: none !important;
}

.bg-dark {
    background: black !important;
}

.navbar {
    box-shadow: 0 0 10px 5px;
}

.navbar-brand {
    font-size: 1.75em;
}

.active {
    color: #77BB1F !important;
}

.jumbotron {
    box-shadow: 2px 4px 15px 0px black;
}

.display-4 {
    color: #77BB1F;
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
}

.display-5 {
    color: #D24627;
    font-variant: small-caps;
}

.display-custom {
    color: #77BB1F;
}

#scrape-btn {
    background: #6D345E;
    box-shadow: 0 0 10px 0px black inset !important;
}

#scrape-btn:hover {
    background: rgb(82, 39, 70);
}

#clear-btn {
    background: #D24627;
    box-shadow: 0 0 10px 0px black inset !important;
}

#clear-btn:hover {
    background: rgb(155, 52, 29);
}

.justify-row {
    justify-content: space-evenly
}

.card {
    box-shadow: 2px 4px 15px 0px black;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    background: black;
    color: #77BB1F;
    border-radius: 5px;
    padding: 0.25em;
    box-shadow: 0 0 10px 0px black!important;
}

.article-body {
    font-family: 'Merriweather', serif;
    margin-top: 0.75em;
    border-radius: 5px;
    line-height: 1.75em;
    user-select: text;
    box-shadow: 0 0 10px 0px black inset !important;
}

.article-img {
    border-radius: 5px;
}

.byline{
    user-select: text;
}

.save-btn,
.unsave-btn,
.view-btn {
    color: #77BB1F;
    transition: all 0.25s;
}

.save-btn:hover,
.unsave-btn:hover {
    color: #D24627;
}

.view-btn:hover {
    color: rgb(126, 59, 108);
}

.comment-btn {
    background: #6D345E !important;
    color: white !important;
    box-shadow: 0 0 10px 0px black inset !important;
}

.comment-btn:hover {
    background: black !important;
    color: #77BB1F !important;
}

textarea {
    background: black !important;
    color: white !important;
}

.fa-minus-circle {
    color: #6D345E !important;
    transition: all 0.25s;
}

.fa-minus-circle:hover {
    color: #D24627 !important;
    transform: scale(1.25);
}

.divider {
    width: 96%;
    margin-right: auto;
    margin-left: 1.25em !important;
}

.btn,
textarea {
    border: none;
}

.btn:focus,
textarea:focus {
    outline: 0;
    box-shadow: none !important;
    border: none !important;
}
